[submodule "BMSTU_NMLA_Lab_1"]
	path = BMSTU_NMLA_Lab_1
	url = https://github.com/NikitaLobaev/BMSTU_NMLA_Lab_1
[submodule "BMSTU_NMLA_Lab_2"]
	path = BMSTU_NMLA_Lab_2
	url = https://github.com/NikitaLobaev/BMSTU_NMLA_Lab_2
